operations

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
df['col2'].unique
#prints unique values

<bound method Series.unique of 0    444
1    555
2    666
3    444
Name: col2, dtype: int64>

In [6]:
len(df['col2'].unique())
#number of unique chars

3

In [7]:
df['col2'].nunique()
#same as len

3

In [8]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [10]:
df[(df['col1']>2) & (df['col2']>1)]
#conditional statements

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [12]:
def times(x):
    return x*2

In [13]:
#apply function

df.apply(times)

   col1  col2    col3
0     2   888  abcabc
1     4  1110  defdef
2     6  1332  ghighi
3     8   888  xyzxyz

In [14]:
df['col2'].apply(times)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [15]:
df.apply(lambda x:x*2)

   col1  col2    col3
0     2   888  abcabc
1     4  1110  defdef
2     6  1332  ghighi
3     8   888  xyzxyz

In [16]:
df.drop('col1',axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [17]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
df.sort_values('col2')
#note that the index dosen't change

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [21]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [22]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [23]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [24]:
df.pivot_table(values='D',index=['A','B'],columns='C')

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [25]:
pd.read_csv('example.csv')

FileNotFoundError: [Errno 2] File example.csv does not exist: 'example.csv'