In [2]:
"My name is {one} and my age is {two}". format(one = 'Aakriti', two=20)

'My name is Aakriti and my age is 20'

In [9]:
#lists
l1=[1,2,3,[20,30,["hi","hello"]],[40,50]]
print(l1[3][2][0][0])

h

In [11]:
#dictionaries
#d = {"key":"value"}

d= {1: [1,2,3]}
d[1][1]

2

In [15]:
d = {"key1":{"innerkey":[1,2,3]}}
d["key1"]

{'innerkey': [1, 2, 3]}

In [16]:
d["key1"]["innerkey"][2]

3

In [18]:
#lists and tuples
#tuples are immutable, used when the user cannot change the items inside

tup1 = (1,2,3)
tup1[0]=4

TypeError: 'tuple' object does not support item assignment

In [19]:
list1= [1,2,3]
list1[0]=4
list1

[4, 2, 3]

In [26]:
#sets are defined only by unique elements
s={1,2,3,4,4,5,5,1,6,5,7,7,8}
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
#inbuilt function set used to take a list as an input and give unique output
set([1,2,3,4,4,5,5,6,6,7,7])

{1, 2, 3, 4, 5, 6, 7}

In [30]:
s.add(10)
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [31]:
#comparison operators
print(1>2)

False

In [32]:
1==1

True

In [33]:
"hi"=="bye"

False

In [34]:
1 <=2 and 2< 3

True

In [42]:
#if-else-elif
if 1<2:
        
    print("yay!")

yay!

In [44]:
if 1==2:
    print("wao")
else:
    print("Acha?")

Acha?

In [45]:
#loops
seq = [1,2,3,4,5,6]

for i in seq:
    print(i+2)

3
4
5
6
7
8

In [47]:
i=1
while i<5:
    print("i is {}". format(i))
    i+=1

i is 1
i is 2
i is 3
i is 4

In [48]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [49]:
for x in list(range(0,5)):
    print(x)

0
1
2
3
4

In [50]:
#list comprehension
x = [1,2,3,4]
out =[]
for num in x:
    out.append(num**3)

In [51]:
print(out)

[1, 8, 27, 64]

In [52]:
[num**3 for num in x]

[1, 8, 27, 64]

In [58]:
#functions
def my_func(arg1):
    print("hello "+ arg1)

In [59]:
my_func("keya")

hello keya

In [60]:
def square(num):
    return num**2

In [61]:
out = square(7)
out

49

In [62]:
#map()
seq = [12,3,4,5]
def times2(num):
    return num*2

map(times2, seq)

In [63]:
#map at that particular place in memory
list(map(times2,seq))

[24, 6, 8, 10]

In [64]:
#another way of defining a func using lambda, getting rid of def and return

t = lambda var:var*2
t(6)

12

In [65]:
list(map(lambda num: num*5, seq))

[60, 15, 20, 25]

In [67]:
#filter func, filters out or shows the reqd output based on a condition

list(filter(lambda num: num%2!=0, seq))

[3, 5]

In [70]:
#operations

s = "hello my dear jijaji"
s.count("j")

3

In [71]:
s.split()

['hello', 'my', 'dear', 'jijaji']

In [73]:
s.split("j")[2]

'a'

In [74]:
"x " in ['x','y','z']

False